* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
    font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
:root {
  --card-bg: #fff7d9;
  --frame-pink: #f3a7b9;
  --frame-border: #7d3b66;
  --shadow-deep:8px 8px 0 0 rgba(50, 20, 60, 0.35);
  --user-green: #2ecc71;
  --bot-red: #e74c3c;
  
  
  
}
body {
  background-color: #2f3162;
}
.scoreBoard {
    width: 80%; 
   
    
   position: relative;


    padding: 10px 15px;     
  gap: 20px;
  margin: 20px auto;
  
    border: 2px solid var(--frame-border);
  box-shadow: var(--shadow-deep),5px 5px 15px 0px rgba(50, 20, 60, 0.35);
  background-color: var(--frame-pink);
  border-radius: 8px;
}

.scoreBoard::after {

    z-index: 1;
    position: absolute;
    content: "";
    bottom: -24px;
    left: 50%;
    transform: translateX(-50%);
     width: 100px;
    height: 24px;
    background: var(--frame-pink);
    border-radius: 0 0 28px 28px;
     box-shadow: var(--shadow-deep);
}
.scoreBoard__scores {
    width: 100%;
    display: flex;
    gap: 12px;
    padding: 10px;

    
     background-color: var(--card-bg);
     border: 1px solid var(--frame-border);
     border-radius: 7px;
     
   
    
    
   
}
.score {
    flex: 1; 
    text-align: center;
    font-weight: 700;
    
}

.scoreBoard__round {
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
 
   
     padding:   3px;
     
}


.choiceSpace-wrap{
    height: 200px; /* Ví dụ: đặt chiều cao cố định */
  /* Hoặc */
  min-height: 150px; /* Đảm bảo chiều cao tối thiểu */
    width: 80%;
    margin: 100px auto 0 auto;
    position: relative; 
   
}
.layer {
    
  position: absolute;
  inset: 0;
  border-radius: 18px;
  border: 1px solid black   ;

}
.layer-bg{
    background: #7b62a8;
  transform: translate(16px, 16px);

}

.layer-main {
      background: var(--frame-pink);
    border-radius: 14px;
     display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: center; /* Căn giữa theo chiều ngang (nếu muốn) */
    /* Giữ nguyên các thuộc tính khác như position: absolute; top: 0; ... */
}
.content {
    margin: 0px auto;
    height: 90%;
    width: 95%;
    padding: 20px;
    margin-top: 30px;
    background-color: var(--card-bg);
    border-radius: 8px;
    border: 1px solid black;
     margin: 0;
    /* Giữ nguyên chiều cao và padding */
    height: 92%;
    padding: 20px;
    box-sizing: border-box;
    /* Loại bỏ hoặc điều chỉnh transform nếu nó gây lệch */
    transform: none; /* Hoặc điều chỉnh cho phù hợp */
}
 .status {
    content: "";
    min-height: 70px;
    margin-bottom: 12px;

}
.btnSpace {
  
    display: flex;
    justify-content: space-around;
    
}
.btn  {
    padding:12px 18px;
    min-width: 66px;
    min-height: 66px;
    border-radius:8px;
    border: 1px solid #361010;

}
.btnScissor {
    background-color: #83D782;

}
.btnPaper {
    background-color: #FDCA39;
}
.btnRock {
    background-color: #76C4EA;
}