*{
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
  font-style: normal;
}
.landing-page {
    
    min-height: 100vh;
    background-color: #E6F0FF;
    
}
a {
    text-decoration: none;
}
.navigation {
    max-width: 100%;
    display: flex;
    align-items: center;
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 38px;
    
}

.navigation .left-navigation {
    display: flex;
    margin-left: 40px;
   
}
.navigation .left-navigation a {
    
    font-size: 14px;
    font-weight: 400;
    color: #4F5361;
    padding:0px 14px;
}
.navigation .right-navigation {
    display: flex;
    margin-left: auto;
    font-size: 14px;
    font-weight: 400;
    
    
}
.navigation .right-navigation a {
    padding: 12px 25.5px;
    border-radius: 8px;
    
}
.navigation .right-navigation .btn-noBackground {
    color: #4F5361;
}
.navigation .right-navigation .btn-hasBackground {
    color: #fff;
    background-color: #0F1B4C;
}
.navigation .right-navigation .btn-hasBackground:hover {
    opacity: 0.7;
}

